@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Futura";
    src: url("/fonts/GoblinOne-Regular.ttf") format("truetype");
    /* src: url("/fonts/GoblinOne.ttf") format("truetype"); */
    font-weight: normal;
    font-style: normal;
}

* {
    color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth !important;
    font-family: "Futura", sans-serif;
}
*::selection {
    color: black;
    background-color: #f76e02;
}

.ppparent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
}

.image-loader {
    background: linear-gradient(-45deg, #ffffff00, #afafaf, #ffffff00, #afafaf);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
    width: 100%;
    height: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.parent:hover .child:not(:hover) {
    filter: blur(5px);
}

.fancy > .outer {
    transition: transform 350ms ease;
}

.fancy:hover > .outer {
    transition-duration: 800ms;
}

.fancy:hover > .outer:nth-child(1) {
    transform: translate(-80%, 60%) rotate(8deg);
}

.fancy:hover > .outer:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg);
}

.fancy:hover > .outer:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
}

.fancy:hover > .outer:nth-child(5) {
    transform: translate(0%, -20%) rotate(5deg);
}

.fancy:hover > .outer:nth-child(6) {
    transform: translate(0%, 20%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(7) {
    transform: translate(0%, -40%) rotate(-5deg);
}

.fancy:hover > .outer:nth-child(8) {
    transform: translate(0%, 15%) rotate(10deg);
}

.fancy:hover > .outer:nth-child(9) {
    transform: translate(0%, -50%) rotate(8deg);
}

.fancy:hover > .outer:nth-child(10) {
    transform: translate(0%, 15%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(11) {
    transform: translate(50%, -10%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(12) {
    transform: translate(120%, -30%) rotate(-10deg);
}

.underline-animation {
    position: relative;
}

.underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: white;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.project:hover div .underline-animation::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
